certifi==2019.6.16
chardet==3.0.4
Django==2.2.18
django-cors-headers==3.1.1
django-oauth-toolkit==1.2.0
djangorestframework==3.10.2
djangorestframework-jwt==1.11.0
idna==2.8
oauthlib==3.1.0
PyJWT==1.7.1
python-dotenv==0.10.3
python-memcached==1.59
pytz==2019.2
requests==2.22.0
simplejson==3.17.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.3
